<%- include('../partials/header') %>

<h1>Exclusão</h1>

<form action="/funcionarios/delete" method="POST">
    RE:<input type="text" name="re"/><br/>
    <button type="submit">Excluir</button>
</form>

<a href="/funcionarios">voltar</a>

<%- include('../partials/footer') %>