<%- include('../partials/header') %>

<h1>Aplicação de Exemplo</h1>

<a href="funcionarios/cadastro">cadastro</a><br/>
<a href="funcionarios/exclusao">exclusão</a><br/>
<a href="funcionarios/busca">busca</a><br/>
<a href="funcionarios/lista">lista</a><br/>

<%- include('../partials/footer') %>